*{	
	margin: 0px;
	padding: 0px;
	outline: 0px;
	font-family: arial;
}
a:link{
	text-decoration: none;
}
a:active{
	text-decoration: none;	
}
a:visited{
	text-decoration: none;	
}
#w_page{
	margin: 0px auto;
	width: 100%;
}
#main_table{
	border-bottom: 1px solid #000;
}
#main_table td{
	
}
#header{
	border: 1px solid #000;
}
#heading{
	font: 22px arial;
	font-weight: bold;
	padding: 20px;
}
#m_countdown{
	float: right;
	font-weight: bold;
	margin-right: 20px;
}
#total_time{
	
}
#ques_list_td{
	max-width: 22%;
	min-width: 22%;
	width: 22%;
}
#question_list{
	min-height: 400px;
	max-height: 580px;
	padding: 10px;
	overflow-y: auto;
}
#side{
	width: 20%;
	background: #ddd;
}
#side_block{
	padding: 20px 10px;
}
#side_block hr{
	margin: 10px 0px;
}
#side_block a{
	font-weight: bold;
}
#question a{
	font-weight: bold;
}
.ques_in_list{
	padding: 7px 10px;
	width: 94%;
	max-width: 250px;
	margin: 5px 0px;
	cursor: pointer;
	border-radius: 2px;
	background: linear-gradient(#f33,#fff,#f33);
	color: #000;
	transition: all .2s;
}
.ques_in_list:hover{
	background: linear-gradient(#f33,#d55,#f33);
}
.done{
	background: linear-gradient(#39f,#fff,#39f);
	color: #000;
}
.done:hover{
	background: linear-gradient(#69e,#69f);
	color: #000;
}
#question_td{
	background: #eee;
}
#question{
	padding: 10px;
	margin: 10px;
	font-size: 20px;
	opacity: .5;
	-webkit-animation: ques .5s ease;
	-webkit-animation-fill-mode: forwards;
	animation: ques .5s ease;
	animation-fill-mode: forwards;
}
@-webkit-keyframes ques{
	0%  {opacity: 0; transform: translate(-50px,0);}
	100% {opacity: 1; transform: translate(0,0);}
}
@keyframes ques{
	0%  {opacity: 0; transform: translate(-50px,0);}
	100% {opacity: 1; transform: translate(0,0);}
}
#ques_options{
	margin: 20px 20px 20px 30px;
}

input[type="radio"]{
	display: none;
}
input[type="submit"]{
	margin: 30px 20px 20px 25px;
	padding: 18px 40px;
	border-radius: 4px;
	border-style: none;
	background: #09f;
	color: #fff;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	transition: all .5s;
}
input[type="submit"]:hover{
	background:#00f;
}
label{
	padding: 7px 12px;
	margin: 50px 10px;
	font-weight: bold;
	background: #ccc;
	cursor: pointer;
	box-shadow: 1px 1px 5px #777;
	transition: all .2s;
}
label:hover{
	background: #99f;
}
input[type='radio']:checked + label{
	background: #07f;
	color: #fff;
	box-shadow: none;
}
